.body {
  display: grid;
  grid-template-columns: 10rem 30rem 10rem;
  grid-template-rows: repeat(5, 6rem) 7rem 4rem;
  grid-template-areas:
    "first first first"
    "second second second"
    "q-one third empty-third"
    "q-two four tog-in"
    "empty-five five tog-rep"
    "button button button"
    "error error error";
  align-items: center;
  justify-items: center;
}

.firstName {
  grid-area: first;
}

.lastName {
  grid-area: second;
}

.mail {
  grid-area: third;

  &Info {
    grid-area: q-one;
  }
}

.password {
  grid-area: four;

  &_toggle {
    grid-area: tog-in;
    width: 4rem;
    height: 4rem;
    justify-self: left;
    margin-left: 1rem;
  }

  &Info {
    grid-area: q-two;
  }
}

.repeat {
  grid-area: five;

  &_toggle {
    grid-area: tog-rep;
    width: 4rem;
    height: 4rem;
    justify-self: left;
    margin-left: 1rem;
  }
}

.buttonBox {
}

.error {
}
