.body {
  position: relative;
  height: 100%;
  width: var(--column-width-board);
  border-right: solid var(--border-width-board) var(--border-col-board);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--item-fontSize);
}

.unselected {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.375);
}

.selected {
  cursor: pointer;
  background-color: var(--main-green);
}

.empty {
  cursor: not-allowed;
  background-color: rgba(255, 0, 0, 0.478);
}
