@import "./../../../../../../styles/variables";

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 12rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: $mid-blue;
  padding: 1.2rem;
  font-size: 1.3rem;
  z-index: 5;
  top: 3.5rem;
  left: 5rem;
}

.option {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.pointer {
  position: absolute;
  width: 2rem;
  height: 2rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: $mid-blue;
  left: 14.8rem;
  top: 2.5rem;
}
