@import "./../../../../../styles/variables";

.body {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tickIcon {
  width: 1.2rem;
}

.unselected {
  border: 0.1rem solid white;
}

.selected {
  background-color: $main-green;
}
