.body {
  overflow: auto;
  background-color: #022d6c;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 18rem auto 17rem;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2rem;
  }
}
