.body {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.target {
  margin: 0 3rem;
}

.action {
  margin: 0 2rem;
}

.value {
  margin: 0 4rem;
}
