@import "./../../../styles/mixins";

.lowerArea {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "first second"
    "third fourth";
  align-items: center;
}

.first {
  grid-area: first;
  @include fadeInAnimation(0.5s, 1.25s);
}

.second {
  grid-area: second;
  justify-self: center;
  margin-left: 15rem;
  @include fadeInAnimation(0.5s, 3.25s);
}

.third {
  grid-area: third;
  justify-self: center;
  margin-right: 15rem;
  @include fadeInAnimation(0.5s, 2.25s);
}

.fourth {
  grid-area: fourth;
  justify-self: right;
  @include fadeInAnimation(0.5s, 3.5s);
}
