@import "./../../../../../styles/variables";

.body {
  width: 3.5rem;
  height: 100%;
  border-color: $border-col-board;
  border-width: $border-width-board;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectAllBox {
  border: solid white 0.1rem;
  border-radius: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.selected {
}

.unselected {
}
