.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.seperator {
  height: 0.1rem;
  background-color: white;
  width: 40rem;
  margin: 1rem 0;
}
