.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 1rem;
}

.seperator {
  height: 0.1rem;
  background-color: white;
  width: 42rem;
  // margin: 1rem 0;
}
