@import "./../../../../../styles/variables";
@import "./../../../../../styles/mixins";

.body {
  width: 35rem;
  @include baseBodyItemColumn;
  padding: 0 0.5rem;
  justify-content: center;
}

.display {
  &:hover {
    @include onHoverItemColumn;
  }
}
