@import "./../../../../styles/variables";

.body {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
}

.grouplineUpper {
  width: 0.5rem;
  background-color: $main-green;
  border-top-left-radius: 1rem;
}

.main {
  background-color: rgb(69, 26, 224);
  width: auto;
  display: flex;
  align-items: center;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: $border-width-board;
  border-color: $border-col-board;
  border-top-right-radius: 1rem;

  .quad {
    width: 3.5rem;
    height: 100%;
    border-color: $border-col-board;
    border-width: $border-width-board;
  }

  .task {
    width: 25rem;
  }

  .mid {
    width: 13rem;
  }

  .comment {
    width: 35rem;
  }
}

.rest {
  flex-grow: 1;
  background-color: rgba(255, 0, 0, 0.39);
}
