.body {
  width: 50%;
  cursor: pointer;
  display: grid;
  grid-template-rows: 3rem;
  grid-template-columns: 100%;
  grid-template-areas: "pos";
}

.icon {
  z-index: 1;
  grid-area: pos;
}

// .message {
//   position: relative;
//   z-index: 2;
//   grid-area: pos;

//   &:hover::after {
//     position: absolute;
//     content: attr(data-description);
//     color: white;
//     font-size: 1.5rem;
//   }
// }
