@import "./../../../../../styles/variables";
@import "./../../../../../styles/mixins";

.body {
  width: 13rem;
  @include baseBodyItemColumn;
  padding: 0 1rem;
  justify-content: center;
}

.display {
  cursor: pointer;
}

.day {
  color: $main-green;
  font-weight: 500;
}
