.middle {
  display: grid;
  justify-content: center;
  grid-template-columns: 80% 20%;
  grid-template-rows: 66% 34%;
  grid-template-areas:
    "title logo"
    "subline logo";
}

.title {
  font-size: 11rem;
  font-weight: 500;
  grid-area: title;
  justify-self: center;
  align-self: center;
}

.subline {
  font-weight: 300;
  font-size: 3rem;
  grid-area: subline;
  padding-top: 2rem;
  justify-self: center;
}

.logo {
  width: 20rem;
  height: 20rem;
  grid-area: logo;
  justify-self: right;
  align-self: center;
}
