@import "./../../../../src/styles/variables";

.body {
  width: 5.5rem;
  height: 5.5rem;
  background-color: $pinkish-blue;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1.5rem;
  display: flex;
  cursor: pointer;
}

.scale {
  //__NOTE: added for chrome compatibility
  width: 2.5rem;
}
