@import "./../../../../src/styles/variables";

.body {
  background-color: $pinkish-blue;
  border-radius: 1rem;
  margin-right: 1rem;
  display: flex;
  cursor: pointer;
}

.scale {
  width: 50%;
  margin: auto;
}
