@import "./../../../../../../styles/variables";

.body {
  position: absolute;
  width: 15rem;
  height: 9rem;
  background-color: $mid-blue;
  z-index: 10;
  border-radius: 0.5rem;
  left: 7rem;
  top: 0rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "message message"
    "cancel loggout";
  align-items: center;
  justify-items: center;
}

.pointer {
  position: absolute;
  clip-path: polygon(100% 0, 15% 50%, 100% 100%);
  width: 3rem;
  height: 3rem;
  left: 5.3rem;
  top: 0.3rem;
  background-color: $mid-blue;
}

.message {
  margin-top: 1rem;
  grid-area: message;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}
