@import "./../../../styles/variables";

.body {
  display: grid;
  grid-template-rows: repeat(3, 9rem);
  grid-template-columns: 50rem;
  justify-items: center;
  align-items: center;
}

.input {
  font-size: 1.5rem;
  height: 5.5rem;
}

.buttonBox {
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: 30rem;

  &_login {
  }

  &_or {
  }

  &_register {
  }
}
