@import "../../styles/variables";
@import "../../styles/mixins";

.body {
  margin: auto;
  width: 50rem;
  height: 55rem;
  display: grid;
  grid-template-columns: 50rem;
  grid-template-rows: 11rem 11rem 33rem;
  grid-template-areas:
    "logo"
    "title"
    "form";
  justify-items: center;
  align-items: center;
}

.logo {
  width: 11rem;
  height: 11rem;
}

.title {
  font-size: 5.9rem;
  // padding-bottom: 1rem;
}
