@import "../../styles/variables";
@import "../../styles/mixins";

.body {
  margin: auto;
  width: 50rem;
  height: 55rem;
  display: grid;
  grid-template-columns: 50rem;
  grid-template-rows: repeat(5, 11rem);
  grid-template-areas:
    "logo"
    "title"
    "form"
    "form"
    "form";
}

.logo {
}

.title {
}

.form {
  grid-area: form;

  &__input {
    &_username {
    }

    &_password {
    }
  }

  &__buttonBox {
    &_login {
    }

    &_or {
    }

    &_register {
    }
  }
}
