@import "../../styles/variables";

.main {
  background-color: $dark-blue;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 120rem;
  grid-template-rows: 20rem 30rem 20rem;
}
