.body {
  display: grid;
  margin: auto;
  grid-template-rows: 8rem 8rem 44rem;
  grid-template-columns: 50rem;
  align-items: center;
  justify-items: center;
}

.logo {
  width: 8rem;
}

.title {
  font-size: 5.5rem;
}
