@import "./../../styles/variables";

.inputOutside {
  background-color: $pinkish-blue;
  text-align: center;
  outline-width: 0;
  font-weight: 400;
  color: white;
  border-color: $pinkish-blue;
  border-style: solid;
  border-radius: 1rem;
  width: 30rem;
  transition: all 0.3s;

  &:hover {
    border-color: white;
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
    border-color: $main-green;

    border-width: 0.3rem;
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: white;
    //for firefox opacity lol
    opacity: 1;
  }
}
