@import "./../../styles/variables";

.inputOutside {
  background-color: $pinkish-blue;
  text-align: center;
  outline-width: 0;
  font-weight: 400;
  color: white;
  border-color: $pinkish-blue;
  border-style: solid;
  border-radius: 1rem;
  width: 30rem;
  transition: all 0.3s;
  font-family: "Roboto Mono", monospace;

  //__NOTE: added because chrome displays very small dots
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    &[type="password"] {
      font-family: Verdana;
      -webkit-text-stroke-width: 0.2rem;
      letter-spacing: 0.4rem;
    }
  }

  &:hover {
    border-color: white;
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
    border-color: $main-green;

    border-width: 0.3rem;
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: white;
    //for firefox opacity lol
    opacity: 1;
  }
}
