@import "./../../../../../styles/variables";
@import "./../../../../../styles/mixins";

.body {
  width: 13rem;
  @include baseBodyItemColumn;
  position: relative;
  justify-content: center;
}

.display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    width: 11rem;
  }
}

.default {
  background-color: var(--unassigned);
}

.done {
  background-color: var(--done);
}

.untouched {
  background-color: var(--untouched);
}

.progress {
  background-color: var(--progress);
}
